@import "variables";
@import "mixins";


#services-detail02{
	padding-top: 40px;
	.container{
		.row{
			.col-md-3{
				ul{
					color: #777;
				    font-family:$mainfont;
				    font-size: $smallfonts;
				    margin-bottom: 25px;
					li{
						width: 100%;
						a{
						    color: #666;
						    font-size: 0.9em;
							padding: 12px 0 12px 18px;
							text-decoration: none;
							border-bottom: 1px solid #EDEDDE;
							font-family: $mainfont;
							width:100%;
							display:block;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover{
								background: lighten($lightgrey,10%);
							}
							&:before{
								// font-size: $smallfonts;
								position: absolute;
								left: 25px;
								font-family: fontAwesome;
								// color: black;
							}
						}
					}
				}
				h4{
					font-size: 20px;
				    font-weight: 400;
				    margin: 0 0 15px 0;
				    font-family: $mainfont;
				    padding-top: 25px;
				}
				p{
					color: #777;
					margin-bottom: 20px;
					font-size: $smallfonts;
					line-height: 24px;
				}
				.row{
					.col-md-12{
						.form-group{
							label{
								margin-bottom: 5px;
								color: #777;
								font-family: $mainfont;
								font-size: $smallfonts;
								line-height: 24px;
								font-weight: 400;
							}
							input{
								color: #555;
								border:1px solid #ccc;
								border-radius: 0;
								box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

							}
							textarea{
								color: #555;
								border:1px solid #ccc;
								border-radius: 0;
								box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
							}
						}
					}
					#my-button{
						color: #ffffff;
						background-color: #e04622;
						border-color: #e04622 #e04622 #b63719;
						border-radius: 0;
						&:hover{
							background-color:lighten(#e04622, 5%) 
						}
					}
				}
			}
			.detail-side{
				.col-md-9{
					font-family: $mainfont;
					padding-top: 0;
					h2{
						font-size: $bigfonts;
					    font-weight: 300;
					    line-height: 42px;
					    margin: 0 0 10px 0;
					    font-family: $mainfont;
					    color: #1d2127;
					    letter-spacing: -1px;
					}
					.detail-icon{
						margin: 25px 0 25px 30px;
					}
					.text01{
						margin: 20px 0 25px 0;
						font-size: 21px;
						font-weight: 300;
						line-height: 1.4;
						color: #777;
					}
					.text02{
						color: #777;
						margin-bottom: 20px;
						line-height: 24px;
						font-size: $smallfonts;
					}
					.row{
						margin-bottom: 0;
						.col-md-5{
							.text03{
								padding-bottom: 25px;
								color: #777;
								margin-bottom: 20px;
								line-height: 24px;
								font-size: $smallfonts;
							}
						}
						.col-md-7{
							// owl carousel plugin customize start 
							.owl-carousel{
								padding-top: 15px;
								&:hover .owl-nav{
									display: block;
								}
								.owl-nav{
									position: absolute ;
									top:74px ;
									width: 100%;
									display: none;
									.owl-prev{
										position: absolute;
										left: 0;
										color:transparent;
										width: 32px;
										height: 32px;
										border-radius: 100%;
										background-image: url("../img/buttons/prev.png");
										background-repeat: no-repeat;
										opacity: 0.2;
									}
									.owl-next{
										position: absolute;
										right: 0;
										color:transparent;
										width: 32px;
										height: 32px;
										border-radius: 100%;
										background-image: url("../img/buttons/next.png");
										background-repeat: no-repeat;
										opacity: 0.2;
									}
								}
								.owl-dots{
									text-align: right;
									padding: 6px 4px 17px 4px;
									span{
									width: 5px;
									height: 5px;
									background: #5a5667;
									margin:4px; 
									}
									.owl-dot{
									width: 15px;
									height: 15px;
									margin-right: 15px;
									margin-top: 20px;
									}
									.active{
										width: 15px;
										height: 15px;
										background: rgba(197, 177, 177, 0.69);
										border:1px solid rgb(103, 85, 85);
										border-radius: 100%;
										box-shadow:0px 0px 9px 2px;
									}
								}
							}
							// owl carousel plugin customize end 
						}
					}
					.text04{
						padding-bottom: 25px;
						color: #777;
						margin-bottom: 20px;
						line-height: 24px;
						font-size: $smallfonts;

					}
					h4{
						font-size: 20px;
					    font-weight: 500;
					    line-height: 1.1;
					    margin: 10px 0 10px 0;
					    font-family: $mainfont;
					    color: #1d2127;
					}
					ul{
						margin:25px 0 30px 0;
					    color: #777;
					    font-size: 14px;
					    line-height: 22px; 
						li{
							position: relative;
    						padding-left: 25px;
    						line-height: 24px;
    						margin-bottom: 13px;
    						opacity: 0;
    						i{
    							color:$orange;
    							position: absolute;
    							left: 0;
    							top: 4px;
    						}
    						&:before{
    							content: "";
    						}
						}
					}
				}
			}
		}
	}
}



